.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameMessages {
    margin: 15px;
}

.gameButton {
    padding: 15px 25px;
    margin-bottom: 15px;
    border: 0;
    border-radius: 3px;
    background-color: #8BC34A;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.resetButton {
    background-color: #e91e63;
    padding: 15px;
    font-size: 10px;
}

.gameButton:hover {
    background-color: #CDDC39;
    color: #222222;
}

.gameButton:disabled {
    background-color: #9e9e9e;
    color: #222222;
    cursor: default;
}

.gameChars {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-column-gap: 15px;
    cursor: default;
}

.gameChar {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #F44336;
}
